@import url(../Fonts/font-styles.css);
* {
  margin: 0px;
  padding: 0px; }

html, body {
  height: 100%; }

.slider-wrapper {
  overflow: hidden; }

.stack-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden; }
  .stack-wrapper .stack-overlay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    align-items: center; }
    .stack-wrapper .stack-overlay .left-content {
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap; }
      .stack-wrapper .stack-overlay .left-content img {
        width: 100%; }
    .stack-wrapper .stack-overlay .right-content {
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap; }
      .stack-wrapper .stack-overlay .right-content img {
        width: 100%; }
  .stack-wrapper .stack-surface {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    .stack-wrapper .stack-surface .center-content {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      .stack-wrapper .stack-surface .center-content.text-content {
        align-items: initial;
        width: 980px;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 30px; }

html {
  background: #091b1c; }

body {
  width: 100%;
  height: 100%; }
  body #top {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: inherit; }
    body #top #left-side {
      width: 50%;
      height: inherit;
      background: #cdeef4; }
      body #top #left-side #left-triangle-link {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
        width: 100%;
        height: 100%;
        z-index: 100;
        position: relative;
        cursor: pointer; }
      body #top #left-side #left-tri {
        width: 0;
        height: 0;
        border-bottom: 100vh solid transparent;
        border-right: 50vw solid transparent;
        background: #fff;
        background-image: url("../Files/Design/Photos/Art-Pattern.png");
        background-repeat: repeat;
        position: absolute;
        top: 0; }
      body #top #left-side #left-tri-2 {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(190, 30, 46, 0.2);
        background: -moz-linear-gradient(45deg, rgba(190, 30, 46, 0.2) 0%, rgba(46, 49, 146, 0.24) 35%, rgba(41, 66, 157, 0.25) 50%, rgba(28, 87, 188, 0.28) 81%, rgba(28, 87, 188, 0.3) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(190, 30, 46, 0.2)), color-stop(35%, rgba(46, 49, 146, 0.24)), color-stop(50%, rgba(41, 66, 157, 0.25)), color-stop(81%, rgba(28, 87, 188, 0.28)), color-stop(100%, rgba(28, 87, 188, 0.3)));
        background: -webkit-linear-gradient(45deg, rgba(190, 30, 46, 0.2) 0%, rgba(46, 49, 146, 0.24) 35%, rgba(41, 66, 157, 0.25) 50%, rgba(28, 87, 188, 0.28) 81%, rgba(28, 87, 188, 0.3) 100%);
        background: -o-linear-gradient(45deg, rgba(190, 30, 46, 0.2) 0%, rgba(46, 49, 146, 0.24) 35%, rgba(41, 66, 157, 0.25) 50%, rgba(28, 87, 188, 0.28) 81%, rgba(28, 87, 188, 0.3) 100%);
        background: -ms-linear-gradient(45deg, rgba(190, 30, 46, 0.2) 0%, rgba(46, 49, 146, 0.24) 35%, rgba(41, 66, 157, 0.25) 50%, rgba(28, 87, 188, 0.28) 81%, rgba(28, 87, 188, 0.3) 100%);
        background: linear-gradient(45deg, rgba(190, 30, 46, 0.2) 0%, rgba(46, 49, 146, 0.24) 35%, rgba(41, 66, 157, 0.25) 50%, rgba(28, 87, 188, 0.28) 81%, rgba(28, 87, 188, 0.3) 100%); }
      body #top #left-side #art-logo {
        position: absolute;
        bottom: 16%;
        left: 9%;
        max-width: 240px; }
      body #top #left-side #left-text {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background: #091b1c;
        color: #fff;
        display: block;
        position: absolute;
        top: 38%;
        left: -21px; }
        body #top #left-side #left-text h3 {
          padding: 15px;
          font-family: 'signikalight';
          font-weight: normal;
          font-size: 35px; }
    body #top #right-side {
      width: 50%;
      height: inherit;
      background: #648d86; }
      body #top #right-side #right-triangle-link {
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        width: 100%;
        height: 100%;
        z-index: 100;
        position: relative;
        cursor: pointer; }
      body #top #right-side #right-tri {
        width: 0;
        height: 0;
        border-bottom: 100vh solid transparent;
        border-left: 50vw solid transparent;
        position: absolute;
        top: 0;
        background-image: url("../Files/Design/Photos/Background_Kaleidoscope.png"); }
      body #top #right-side #right-tri-2 {
        width: 0;
        height: 0;
        border-bottom: 90.5vh solid #d9edeb;
        border-left: 45.25vw solid transparent;
        position: absolute;
        bottom: 2.25vh;
        right: 1.5vw; }
      body #top #right-side #design-logo {
        position: absolute;
        bottom: 16%;
        right: 9%;
        max-width: 220px; }
      body #top #right-side #right-text {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background: #091b1c;
        color: #fff;
        display: block;
        position: absolute;
        top: 37%;
        right: -46px; }
        body #top #right-side #right-text h3 {
          padding: 15px;
          font-family: 'signikalight';
          font-weight: normal;
          font-size: 35px; }
    body #top #middle-triangle {
      width: 0;
      height: 0;
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-top: 100vmin solid #091b1c;
      position: absolute;
      top: 0;
      right: 0; }
    body #top #intro-p {
      position: absolute;
      top: 19%;
      left: 50%;
      color: white;
      transform: translateX(-50%);
      width: 520px;
      text-align: center;
      font-family: 'signikalight';
      font-weight: normal; }
      body #top #intro-p h1 {
        font-size: 80px;
        margin-bottom: 20px; }
      body #top #intro-p p {
        font-size: 22px;
        line-height: 29px; }
  @media screen and (max-aspect-ratio: 6 / 5) {
    body #left-tri, body #right-tri, body #right-tri-2, body #middle-triangle {
      display: none; } }

/*# sourceMappingURL=Open-Styles.css.map */
