@import "../Fonts/font-styles.css";

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}
.slider-wrapper {
	overflow: hidden;
}
.stack-wrapper {
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;

	.stack-overlay {
		display: flex;
		justify-content: space-between;
		width: 100%;
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		align-items: center;

		.left-content {
			display: flex; 
			justify-content: space-between;
			flex-flow: column wrap;

			img { 
				width: 100%;
			}
		}
		.right-content {
			display: flex; 
			justify-content: space-between;
			flex-flow: column wrap;

			img { 
				width: 100%;
			}
		}

	}
	.stack-surface {
		overflow: hidden;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		.center-content {
			width:100%;
			display:flex;
			flex-flow: column nowrap;
			justify-content:center;
			align-items: center;
			&.text-content {
				align-items: initial;
				width:980px;
				justify-content: space-between;
				padding-top: 100px;
				padding-bottom: 100px;
				padding-left:30px;
			}
		}
	}
}

